body{
    margin: 0px;
    width: 100%;
	font-family: iransans !important;
}
#app {
    margin-top: 20px;
    min-width: 1000px;
}
.inner{
    max-width: 1100px;
    margin: auto;
}
label {
	font-size: 14px;
}
