@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("default", (
  primary: #92278f, // The primary color of your brand
  accent: #ba68c8 // The secondary color of your brand
));

@import "~vue-material/dist/theme/all"; // Apply the theme

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/material.woff2) format('woff2');
    //src: url(http://civil808.com/en/staticfile/material.woff2) format('woff2');
  }
:root{
  --md-theme-default-primary : #92278f;
  --md-theme-default-accent : #ba68c8;
  --md-theme-default-scrollbar-on-background-variant: #aaa;
}



.md-list-item-content{
  > .md-checkbox, 
  >.md-radio {
    &:first-child{
      margin-right: 0;
      margin-left: 36px;
    }
  }
}
.md-checkbox{
  .md-checkbox-label {
      padding-right: 16px;
      padding-left: 0;
  }
  .md-checkbox-container .md-ripple {
      left: inherit !important;
      right: 50% !important;
      transform: translate(50%,-50%);
  }
  input {
    visibility: hidden;
  }
} 
.md-field{
  &.md-focused label, 
  label {
    left: inherit;
  }
  .md-input-action {
    left: 8px;
    right: inherit;
  }
  &.md-clearable .md-input {
    padding: 0 0px 0 30px;
  }
}
.md-switch-container {
  order: 1;
  .md-switch-thumb {
    margin-right: auto;
    input {
      visibility: hidden;
    }
  }
}
.md-chip{
  +.md-chip {
  	margin-right: 8px;
  	margin-left: 0;
  }
}
